body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03151e;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    text-shadow: 1px 1px 65px rgb(155, 222, 244);
}

.p{
    text-align: center;
    color: blueviolet;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}

.btn {
    display: flex;            
    gap: 20px;                
    margin-top: 20px;          
    cursor: pointer;           
    background-color: rgb(21, 7, 82);    
    border-radius: 15px;         
    font-size: 30px;       
    padding: 15px 30px;         
    color: rgb(59, 66, 159);
    font-weight: 1000;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(21, 7, 82, 0.3);
    background-color: rgb(31, 15, 110);
}
.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.message-sender {
    font-weight: bold;
    font-size: 0.9em;
}

.message-text {
    margin: 5px 0;
}

.message-time {
    font-size: 0.8em;
    color: #666;
    text-align: right;
}